<div class="cards_produtos">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="../../assets/images/canecaThiago.jpg" alt="Imagem de capa do card">
        <div class="card-body">
            <h5 class="card-title">Caneco do Thiago</h5>
            <p class="card-text">Etiam sit amet eleifend risus. Pellentesque at ullamcorper augue, vel laoreet risus. </p>
            <div class="div_info">
                <p class="preco">R$ 2.00</p>
                <a href="#" class="botao_comprar">COMPRAR</a>
            </div>
        </div>
    </div>
</div>
