.card-img-top{
    height: 15rem;
}

.cards_produtos{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 3rem;
    flex-wrap: wrap;
    gap: 20px;
}

h5{
    font-weight: bold;
}

.div_info{
    font-size: 1rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.botao_comprar{
    background-color: #004AAD;
    padding: 10px 20px;
    color: #ffffff;
    border-radius: 0.6rem;
    text-decoration: none;
}

.botao_comprar:hover{
    background-color: #0068ef;
}

.preco{
    font-size: 1.4rem;
    font-weight: bold;
}