<div class="cards_produtos" *ngFor=" let produto of listProdutos ">
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{produto.pathProduto}}" alt="Imagem de capa do card">
        <div class="card-body">
            <h5 class="card-title">{{produto.nomeProduto}}</h5>
            <p class="card-text">{{produto.descricaoProduto}}</p>
            <div class="div_info">
                <p class="preco">R$ {{produto.valorProduto}}</p>
                <a href="#" class="botao_comprar">COMPRAR</a>
            </div>
        </div>
    </div>
</div>
