<div class="container">
    <div class="login">
        <h1>Bem vindo!</h1>
        <h2>Login:</h2>
        <input type="text" placeholder="Usuário">
        <br>
        <input type="password" placeholder="Senha">
        <br>
        <button mat-raised-button color="primary">ENTRAR</button>
    </div>
    
    <div class="cadastro">
        <a routerLink="/home">
            <img class="logoCadastro" src="../../assets/images/logoHorizontal.png">
        </a>
        <h1>Crie a sua conta!</h1>
        <input type="text" placeholder="Usuário">
        <br>
        <input type="text" placeholder="Nome">
        <br>
        <input type="email" placeholder="Email">
        <br>
        <input type="date" placeholder="Data de nascimento" class="datepicker">
        <br>
        <input type="password" placeholder="Senha">
        <br>
        <button mat-raised-button color="primary">CADASTRAR-SE</button>
    </div>
</div>
