@import '../../../styles.scss';
.div_info{
  font-size: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
h5{
  font-weight: bold;
}
.preco{
  font-size: 1.4rem;
  font-weight: bold;
}
