<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <div class="card" style="margin: 20px;">
    <h2 class="card-header" style="background-color: #1C98ED; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;">Meus pedidos</h2>
    <div class="row" style="margin: 5px;">
      <div class="col-sm-12">
        <div class="div-card" id="testando">
          <div class="row">
            <div class="card col-sm-3" *ngFor="let pedido of listPedidoProdutoItem">
              <img class="imagem-card" height="300px;" width="auto;" style="magin: 0; padding: 0;" src={{pedido.pathProduto}} alt="Card image cap">
              <div class="container">
                <div class="card-body">
                  <h5 class="card-title">{{pedido.nomeProduto}}</h5>
                  <p class="card-text">{{pedido.descricaoProduto}}</p>
                  <div class="div_info">
                    <p class="preco">R$ {{pedido.subTotalProduto}}</p>
                  </div>
                </div>
                <div class="card-footer bg-transparent border-primary">
                  <button mat-button class="card-botao btn btn-primary btn-xs col-sm-12" (click)="deletar(pedido.idPedidoitem)"
                          style="background-color: red; color: white;">
                    Remover
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-sm-12">
        <div class="card">
          <h2 class="card-header" style="background-color: #1C98ED; border-bottom-left-radius: 5px; border-bottom-right-radius: 5px;">Mais opções</h2>
          <div class="card-body">
            <a href="/admin" class="btn btn-danger">VOLTAR</a>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>

