<router-outlet></router-outlet>
<section>
  <div class="card" style="margin: 20px;">
    <img src="../../assets/images/STATIONERY.png" width="200px"  class="d-block w-100" alt="...">
    <div class="card-body">
      <div class="row" style="margin: 5px;">
        <div class="col-sm-7">
          <div class="card">
            <h2 class="card-header" style="background-color: #1C98ED; color: #004AAD;">Aqui você pode gerenciar seu sistema!</h2>
            <div class="card-body">
              <img src="../../assets/images/STATIONERY2.png" width="300px"  class="d-block w-100" alt="...">
            </div>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="card">
            <h2 class="card-header" style="background-color: #1C98ED; color: #004AAD;">Minha conta</h2>
            <div class="card-body">
              <a href="/operadores" class="btn btn-primary" style="background-color: #004AAD;">Gerenciar operadores [Admin]</a>
              <br>
              <br>
              <a href="/operadores" class="btn btn-primary" style="background-color: #004AAD;">Minha Conta</a>
              <br>
              <br>
              <a href="/produtos" class="btn btn-primary" style="background-color: #004AAD;">Gerenciar meus Produtos </a>
              <br>
              <br>
              <a href="/pedido" class="btn btn-primary" style="background-color: #004AAD;">Gerenciar meus Pedidos</a>
              <br>
              <br>
              <a href="/pagamento" class="btn btn-primary" style="background-color: #004AAD;">Gerenciar cartões</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
