@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import '../../../styles.scss';

.container{
    position: relative;
    top: 42%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
}

input{
    width: 15rem;
    height: 2.5rem;
    border: none;
    padding: 0.9rem;
    border-radius: 0.5rem;
    font-family: Inter;
}

h1{
    font-family: Inter;
    font-size: 2rem;
}

h2{
    font-family: Inter;
    font-size: 1.3rem;
}

.datepicker{
    color: $cor-secundaria;
}

.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $cor-principal;
    padding: 5rem;
    border-top-left-radius: 1.3rem;
    border-bottom-left-radius: 1.3rem;
    input::placeholder{
        color: $cor-principal;
    }
    h2{
        color: $cor-secundaria;
    }
    h1{
        color: $cor-secundaria;
    }
    button{
        background-color: $cor-secundaria;
        border-radius: 0.8rem;
        font-family: Inter;
        font-size: 1rem;
        color: $cor-principal;
    }
}

.logoLogin{
    display: none;
    height: 70px;
}

.cadastro{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: $cor-alternativa;
    padding: 5rem;
    padding-left: 10rem;
    padding-right: 10rem;
    border-top-right-radius: 1.3rem;
    border-bottom-right-radius: 1.3rem;
    input{
        background-color: $cor-principal;
    }
    input::placeholder{
        color: $cor-secundaria;
    }
    button{
        width: 12rem;
        background-color: $cor-principal;
        border-radius: 0.8rem;
        font-family: Inter;
        font-size: 1rem;
        color: $cor-secundaria;
    }
    h1{
        color: $cor-principal;
    }
}

.logoCadastro{
    height: 70px;
}

@media(max-width: 770px){
    .container{
        flex-direction: column;
        width: 100%;
    }

    .login{
        align-items: center;
        justify-content: center;
        border-radius: 1.3rem 1.3rem 0rem 0rem;
    }

    .cadastro{
        align-items: center;
        justify-content: center;
        border-radius: 0rem 0rem 1.3rem 1.3rem;
    }

    .logoLogin{
        display: block;
        height: 70px;
    }

    .logoCadastro{
        display: none;
    }
}

@media(max-width: 400px){
    .container{
        margin-top: 8rem;
    };
}
