<main>
    <a [routerLink]="['/home']"><img src="../../assets/images/logoHorizontal.png"></a>
    <form class="formulario">
        <div class="form-group">
            <label for="exampleInputEmail1">Nome:</label>
            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ex. Caneca do Thiago">
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Descrição do produto:</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Ex. caneca preta, cuidada com muito carinho e muito bonita"></textarea>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Preço:</label>
            <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ex. 200,00">
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Quantidade:</label>
            <input type="number" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Ex. 50">
          </div>
        <div class="form-group">
          <label for="exampleFormControlFile1">Upload da imagem:</label>
          <input type="file" class="form-control-file" id="exampleFormControlFile1">
        </div>
        <button type="submit" class="botao_cadastrar">CADASTRAR</button>
    </form>
</main>
