main{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    gap: 30px;
}

main img{
    width: 25rem;
}

.formulario{
    width: 20rem;
}

.botao_cadastrar{
    background-color: #004AAD;
    padding: 10px 20px;
    color: #ffffff;
    border-radius: 0.6rem;
    text-decoration: none;
    border: none;
}

.botao_cadastrar:hover{
    background-color: #0068ef;
}